.navbar {
	background-color: #eeeeee;
}
.hestia-about {
	background: #f0f0f0;
}
.btn.btn-primary, .btn.btn-primary:link{
	background-color: #e91e63;
}
footer.footer.footer-black {
	background-color: #393e46;
}